# conda / venv
env/
.venv/

#cifar
datasets/


#models
models/

# Python artefakti
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# Jupyter izlazi (ako koristiš nbstripout, ovo možeš izostaviti)
*.nbconvert.ipynb

# Editor/OS smeće
*.swp
.DS_Store
